@model CrossThePondUKToUSWords.Models.TippingModel

<style>

    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }

    .nav-list {
        display: inline-flex;
        text-align: center;
    }

    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }

    .swapper img {
        max-height: 140px;
        padding-left: 200px;

    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @*END heading SECTION*@

    @*START main SECTION*@

    .tipping-main {
        display: inline-flex;
        text-align: center;        
    }
    .tipping-main-element {
        border: solid 1px #BEBEBE;
        padding: 20px;
    }
    .tipping-main-left {
    }
    .tipping-main-right {
        min-width: 35%;
        padding: 20px;
        margin-left: 30px;
    }
    .tipping-main-element h3 {
        text-align: left;
    }
    .tipping-main-heading {
        margin-bottom: 30px;
    }
    .notes {
        font-style: italic;
    }
    p {
        font-size: larger;
    }
    @*END main SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words">
            <a class="nav-icon" asp-area="" asp-controller="WordsUSA" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WordsUSA" asp-action="IndexA">Words</a>
        </li>
        <li class="nav-link weather">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/CtPweatherIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Weather</a>
        </li>
        <li class="nav-element nav-link temperature">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/CtPtemperatureIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Temp" asp-action="Index">Temp.</a>
        </li>
        <li class="nav-element nav-link tipping">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUK"><img src="/Images/CtPtipsIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Tipping" asp-action="IndexUK">Tipping</a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/SwapperUStoUK.png" /></a>
        </li>
    </ul>
</section>

<div class="heading">
    <h1>USA TO UK</h1>
</div>


<section class="tipping-main">
    <div class="tipping-main-left">
        <div class="tipping-main-element tipping-main-heading">
            <h2>Tipping in the United Kingdom</h2>
            <br />
        </div>
        <div class="tipping-main-element">
            <h3>Explained:</h3>
            <br />
            <p>
                Tipping is not expected in Britain the way it is in America.
                Workers don't officially have to rely on their tips to live, and all staff in the UK must be paid at least the National Minimum Wage.
                Employers are also banned from topping up wages with tips from customers.
            </p>
            <p>
                Although it's not necessary to tip in most places you would in the US, it's always greatly appreciated
                (the National Minimum Wage does not meet the National Living Wage).
            </p>
            <p>
                Possibly due to the fact that tipping is not necessarily expected, you may find that wait staff, though polite,
                will not be quite as attentive as back home!
            </p>
            <p>
                Also, remember that tax is usually included in the stated price everywhere you go in the UK.
            </p>
            <p>
                To the right you'll find a rough guide to tipping in some common interactions.
            </p>
            <br />
            <br />
            <br />
            <p class="notes">*Tipping is not necessary for stores, coffee shops, hotel staff, however, if you feel like it, £1-£5 is always appreciated.</p>
        </div>
    </div>



        <div class="tipping-main-element tipping-main-right">
            <h3>Calculator:</h3>
            <form asp-action="IndexUK">
                <label>Amount:</label>
                <p><input type="number" asp-for="ValueBill" /></p>
                <br />

                <p><input type="submit" value="Tip: 15" asp-for="Calculate" />&nbsp;&nbsp; Standard at:</p>
                <p>sit-down restaurant with exceptional service</p>
                <p><input type="submit" value="Tip: 10" asp-for="Calculate" />&nbsp;&nbsp; Standard at:</p>
                <p>sit-down restaurant with exceptional service</p>
                <div class="">
                    <div class="">

                        <label>Tip:</label>
                        <p><input type="number" asp-for="@ViewData["result"]" /></p>
                    </div>
                    <div class="">
                        <label>Total:</label>
                        <p><input type="number" asp-for="@ViewData["total"]" /></p>
                    </div>
                </div>
                <br />
                <p>£1-£5 standard at:</p>
                <p>for hotel cleaning staff, tours</p>
                <p>£1-£2 standard at:</p>
                <p>delivery drivers, </p>

            </form>
        </div>


</section>


