@model CrossThePondUKToUSWords.Models.TippingModel


<style>

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    .grid-item{
        background-color: #ccc;
    }
    .left {
        text-align: left;
        
    }
    .center {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .right {
        text-align: right;
    }

</style>

<h1>Tipping</h1>

<section >
    <div class="grid-container">
        <div class="grid-item left">
            <br />
            <p>Standard US tipping guidelines:</p>
            <p>20% at sit-down restaurants with tab</p>
            <p>$1-$2 per drink at a bar*</p>
            <p>$1-$5 for car rides, delivery, tours, housekeeping</p>
            <p>0 at counters (fast food, coffee, tickets etc.)*</p>
            <p>*If you feel like the person helping has gone the extra mile, feel free to tip $1-$5</p>
        </div>

        <form class="grid-item center" asp-action="Index" >
            <label>Bill amount:</label>
            <p><input type="number" asp-for="valueBill" /></p>

            <p><input type="submit" value="Tip: 10" asp-for="calculate" /></p>
            <p><input type="submit" value="Tip: 15" asp-for="calculate" /></p>
            <p><input type="submit" value="Tip: 20" asp-for="calculate" /></p>
            <p><input type="submit" value="Tip: 25" asp-for="calculate" /></p>

            <label>Result:</label>
            <p><input type="number" asp-for="@ViewData["result"]" /></p>
        </form>

        <div class="grid-item right">
            <br />
            <p>Standard UK tipping guidelines:</p>
            <p>10% at sit-down restaurants with tab</p>
            <p>0 per drink at a bar*</p>
            <p>$1-$5 for car rides, delivery, tours, housekeeping</p>
            <p>0 at counters (fast food, coffee, tickets etc.)*</p>
            <p>*If you feel like the person helping has gone the extra mile, feel free to tip $1-$5</p>
        </div>
    </div>
    
</section>


