@model CrossThePondUKToUSWords.Models.TippingModel


<style>

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }

    .left {
        text-align: center;
    }

    .calc {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .right {
        text-align: right;
    }

    h1 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .result {
        display: inline-flex;
        margin-left: 5px;
        margin-right: 5px;
    }

    .resultBox {
    }

    .notes {
        padding-top: 50px;
        font-style: italic;
    }

    input {
        text-align: center;
    }

    .italic {
        font-style: italic;
    }
</style>

<h1>Tipping in the United Kingdom</h1>

<section>
    <div class="grid-container">
        <div class="grid-item left">
            <h3>Tipping Explained:</h3>
            <br />
            <p>
                Tipping is not expected in Britain the way it is in some other countries.
                Workers don't officially have to rely on their tips to live and all staff in the UK must be paid at least the National Minimum Wage.
                Employers are also banned from topping up wages with tips from customers.
            </p>
            <p>
                Although it's not necessary to tip in most places you would in the US, it's always greatly appreciated
                (the National Minimum Wage does not meet the National Living Wage).
            </p>
            <p>
                Possibly due to the fact that tipping is not necesssarily expected, you may find that wait staff, though polite,
                will not be quite as attentive! 
            </p>
            <p>
                To the right you'll find a rough guide to tipping in some common interactions.
            </p>
            <p class="notes">Tipping is not necessary for stores, coffee shops, hotel staff, however, if you feel like it, £1-£5 is always appreciated.</p>


        </div>

        <form class="grid-item center calc" asp-action="IndexUK">
            <label>Amount:</label>
            <p><input type="number" asp-for="ValueBill" /></p>

            <p><input type="submit" value="Tip: 15" asp-for="Calculate" />&nbsp;&nbsp; Standard at:</p>
            <p>sit-down restaurant with exceptional</p>
            <p><input type="submit" value="Tip: 10" asp-for="Calculate" />&nbsp;&nbsp; Standard at:</p>
            <p>sit-down restaurant with exceptional service</p>
            <div class="grid-container result">
                <div class="grid-item center resultBox">

                    <label>Tip:</label>
                    <p><input type="number" asp-for="@ViewData["result"]" /></p>
                </div>
                <div class="grid-item center resultBox">
                    <label>Total:</label>
                    <p><input type="number" asp-for="@ViewData["total"]" /></p>
                </div>
            </div>
            <br />
            <p>£1-£5 standard at:</p>
            <p>for hotel cleaning staff, tours</p>
            <p>£1-£2 standard at:</p>
            <p>delivery drivers, </p>

        </form>

        @*<div class="grid-item right">
                <br />
                <p>Standard UK tipping guidelines:</p>
                <p>10% at sit-down restaurants with tab</p>
                <p>£0 per drink at a bar *</p>
                <p>£1-£5 for car rides, delivery, tours, housekeeping</p>
                <p>£0 at counters (fast food, coffee, tickets etc.) *</p>
                <p class="notes">*If you feel like the person helping has gone the extra mile, feel free to tip $£1-£5</p>
            </div>*@
    </div>

</section>


