html {
  font-size: 14px;
}

@media (min-width: 900px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
    border-bottom: solid, 2px, black;
    padding-bottom: 10px;
    padding-top: 5px;
}

body {
  margin-bottom: 60px;
  background-color: white;
}

.pageTitle {
    display: inline-flex;
}

.pageTitle li {
    display: inline-flex;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.alphabet {
/*    TODO text-align: right;    */
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrd {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 0px;
    border-left: solid 1px black;
}

.emph {
    font-style: oblique;
    font-size: 14px;
}

.pro {
    font-style: italic;
    font-size: 14px;
}

.def {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.nav-title {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 5px;
}

.allButton {
    margin-left: 5px;
    margin-right: 5px;
}

.title-nav-item {
    margin-left: 0px;
}

.table {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: rgb(249,259,249);
}

.thead {
    background-color: #DFEEED;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 2px black;
}

.thead .def {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 5px;
}

.thead .wrd {
    text-decoration: underline;
    padding-left: 5px;
}




/*This doesn't work - figure out why*/

/*.nav-link:active:after {
    text-decoration: underline;
}*/

/*Looks like I can't do this with just CSS, must use javascript)*/

