@model CrossThePondUKToUSWords.Models.City

@{
    ViewData["Title"] = "CityUS";
}

<style>

    @*START top-bar SECTION*@
    .top-bar {
        min-height: 170px;
    }

    .nav-list {
        display: inline-flex;
        text-align: center;
    }

    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }

    .swapper img {
        max-height: 140px;
        padding-left: 200px;
    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@
    .heading {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .heading h1 {
        font-size: 80px;
    }

    @*END heading SECTION*@

    @*START main SECTION*@
    .temp-main {
        display: inline-flex;
        text-align: center;
    }
    .temp-main-element {
        border: solid 1px #BEBEBE;
        padding: 20px;
    }
    .temp-main-left {
    }
    .temp-main-right {
        min-width: 35%;
        padding: 20px;
        margin-left: 30px;
    }
    .temp-main-element h3 {
        text-align: left;
    }
    .temp-main-heading {
        margin-bottom: 30px;
    }
    .notes {
        font-style: italic;
    }
    p {
        font-size: larger;
        padding-bottom: 0px;
    }

    .temp-main-element img {
        width: 400px;
        padding-left: 30px;
    }

    .map-facts {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    .map-facts-words {
        display: block;
        text-align: left;
    }
    .temp-main-right h2 {
        text-align: left;
    }
    @*END main SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words">
            <a class="nav-icon" asp-area="" asp-controller="wordsUSA" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
        </li>
        <li class="nav-link weather">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/CtPweatherIcon.png" /></a>
        </li>
        <li class="nav-element nav-link temperature">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/CtPtemperatureIcon.png" /></a>
        </li>
        <li class="nav-element nav-link tipping">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUK"><img src="/Images/CtPtipsIcon.png" /></a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/SwapperUStoUK.png" /></a>
        </li>
    </ul>
</section>

<div class="heading">
    <h1>UK TO USA</h1>
</div>

<section class="temp-main">
    <div class="temp-main-left">
        <div class="temp-main-element temp-main-heading">
            <h2>
                Weather
            </h2>
        </div>
        <div class="temp-main-element">

            <div class="map-facts">
                <h3>Parts of the US:</h3>
                <br /><br /><br />

                <div class="map-facts-words">
                    <p>
                        &emsp;&emsp;The United States of America (or USA), commonly known as the United States (or US) or America,
                        consists of 50 states, 48 next to one another, 1 next to Canada and 1 in the middle of the Pacific Ocean, a federal district, five major unincorporated territories, nine minor outlying islands,
                        and 326 Indian reservations with limited sovereignty.
                    </p>
                    <p>
                        &emsp;&emsp;With all that going on, you need a weather app.
                    </p>
                </div>
                <img src="/Images/map-of-us.jpeg" />
            </div>

        </div>
    </div>

    <div class="temp-main-element temp-main-right">
        <h2>Forecast:</h2>
        <br />
        <label asp-for="Name"></label>
        <span class="badge alert-primary">@Model.Name</span>
        <br />
        <br />
        <br />
        <label asp-for="Temperature"></label>
        <span class="badge alert-primary">@Model.Temperature°C</span>
        <br />
        <br />
        <label asp-for="Humidity"></label>
        <span class="badge alert-primary">@Model.Humidity%</span>
        <br />
        <br />
        <label asp-for="Weather"></label>
        <span class="badge alert-primary">@Model.Weather</span>
        <br />
        <br />
        <form method="get">
            <button asp-controller="WeatherForecast" asp-action="SearchByCityUS" class="btn btn-primary">Go back</button>
        </form>
    </div>

</section>



