@model CrossThePondUKToUSWords.Models.City

@{
    ViewData["Title"] = "City";
}

<style>

    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }

    .nav-list {
        display: inline-flex;
        text-align: center;
    }

    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }

    .nav-icon img:hover {
        max-height: 135px;
    }

    .swapper img {
        max-height: 150px;
        padding-left: 200px;

    }

    .swapper img:hover {
        max-height: 160px;
        padding-left: 200px;
    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    @*END heading SECTION*@

    @*START main SECTION*@

    .forecast {
        border: solid black 1px;
    }

    .climate-facts img {
        max-width: 300px;
    }

    .climate-facts {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }

    @*END main SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words">
            <a class="nav-icon" asp-area="" asp-controller="wordsUK" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WordsUK" asp-action="IndexA">Words</a>
        </li>
        <li class="nav-link weather">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/CtPweatherIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Weather</a>
        </li>
        <li class="nav-element nav-link temperature">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/CtPtemperatureIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Temp" asp-action="Index">Temp.</a>
        </li>
        <li class="nav-element nav-link tipping">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/CtPtipsIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Tipping" asp-action="IndexUS">Tipping</a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="WordsUSA" asp-action="IndexXYZ"><img src="/Images/SwapperUStoUK.png" /></a>
        </li>
    </ul>
</section>

<div class="heading">
    <h1>UK TO USA</h1>
</div>

<section class="grid-container">
    <form class="grid-item left">

        <div class="container">
            <div class="form-group">
                <p>
                    The UK has a temperate climate. In general, this means that Britain gets cool, wet winters and warm, wet summers.
                    It rarely features the extremes of heat or cold, drought or wind that are common in other climates.
                    The weather conditions are also very changeable.
                </p>
                <p>
                    Not all parts of the UK have the same climate. London, in the south-east of the UK,
                    is a region characterised by a warm and dry climate in the summer and a cold and dry climate in the winter.
                </p>
                <p>
                    Cumbria, in the mountainous north-west of England, has generally cooler temperatures and more rainfall throughout the year.
                </p>
                <p>The general pattern of the climate across the UK has four distinct regions:</p>
                <br />
                <div class="climateFacts">
                    <img src="/Images/weatherUK.png" />
                    <ul>
                        <li>south-east – cold winters, warm and dry summers</li>
                        <li>south-west – mild and very wet winters, warm and wet summers</li>
                        <li>north-west – mild winter, cool summers and heavy rain all year</li>
                        <li>north-east – cold winter, cool summers and steady rain all year</li>
                    </ul>
                </div>
            </div>
        </div>

    </form>


    <form class="grid-item right">

        <div class="container">
            <div class="form-group forecast">
                <h2>Forecast:</h2>
                <br />
                <label asp-for="Name"></label>
                <span class="badge alert-primary">@Model.Name</span>
                <br />
                <br />
                <br />
                <label asp-for="Temperature"></label>
                <span class="badge alert-primary">@Model.Temperature°C</span>
                <br />
                <br />
                <label asp-for="Humidity"></label>
                <span class="badge alert-primary">@Model.Humidity</span>
                <br />
                <br />
                <label asp-for="Weather"></label>
                <span class="badge alert-primary">@Model.Weather</span>
                <br />
                <br />
                <form method="get">
                    <button asp-controller="WeatherForecast" asp-action="SearchByCity" class="btn btn-primary">Go back</button>
                </form>
            </div>
        </div>

    </form>

</section>



