<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cross The Pond</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CrossThePondUKToUSWords.styles.css" asp-append-version="true" />
    <style>

        .grid-container {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            @*border: 1px solid #ccc;*@
        }
        .left {
            text-align: left;
            padding-left: 10px;
        }
        .center {
            text-align: center;
        }

        .brand {
            text-align: center;
            display: block;
            padding-right: 0px;
            padding-left: 0px;
        }
        .right {
            text-align: right;
            padding-right: 10px;
        }

        strong {
            font-size: xx-large;
        }
        .brand img {
            max-width: 400px;
        }
        .left .nav-title {
            border-right: solid 2px #000;
            padding-right: 20px;
        }
        .right .nav-title {
            border-left: solid 2px #000;
            padding-left: 20px;
        }
        .navIcon img:hover {
            max-width: 90px;
        }
        .navIcon img {
            align-items: center;
            max-width: 80px;
        }
        .nav-link {
            text-align: center;
        }
        .left .nav-title p {
            font-size: x-large;
            text-align: right;
        }
        .right .nav-title p {
            font-size: x-large;
            text-align: left;
        }
        .left .words {
            margin-left: 20px;
        }
        .right .words {
            margin-right: 20px;
        }
        .nav-item {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between grid-container">

                    <ul class="navbar-nav flex grid-item left">
                        <li class="nav-title">
                            <p>UK</p>
                            <p>TO</p>
                            <p>USA</p>
                        </li>
                        <li class="nav-item allButton words">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WordsUK" asp-action="IndexA">Words</a>
                            <a class="navIcon" asp-area="" asp-controller="wordsUK" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton weather">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Weather</a>
                            <a class="navIcon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/CtPweatherIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton temperature">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Temp" asp-action="Index">Temp.</a>
                            <a class="navIcon" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/CtPtemperatureIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton tipping">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tipping" asp-action="IndexUS">Tipping</a>
                            <a class="navIcon" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/CtPtipsIcon.png" /></a>
                        </li>
                        @*<li class="nav-item allButton measurements">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Measurements" asp-action="Index">(Measurements)</a>
                        </li>
                        <li class="nav-item allButton measurements">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Currency" asp-action="Index">(Currency)</a>
                        </li>*@

                    </ul>

                    <div class="flex-grow-1 grid-item">
                        <a class="navbar-brand center brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Cross The Pond</strong></a>
                        <a class="navbar-brand center brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Images/CtP1.png" /></a>
                    </div>

                    

                    <ul class="navbar-nav flex grid-item right">

                        @*<li class="nav-item allButton measurements">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Currency" asp-action="Index">(Currency)</a>
                        </li>
                        <li class="nav-item allButton measurements">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Measurements" asp-action="Index">(Measurements)</a>
                        </li>*@
                        <li class="nav-item allButton tipping">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tipping" asp-action="IndexUK">Tipping</a>
                            <a class="navIcon" asp-area="" asp-controller="Tipping" asp-action="IndexUK"><img src="/Images/CtPtipsIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton temperature">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Temp" asp-action="Index">Temp.</a>
                            <a class="navIcon" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/CtPtemperatureIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton weather">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Weather</a>
                            <a class="navIcon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity"><img src="/Images/CtPweatherIcon.png" /></a>
                        </li>
                        <li class="nav-item allButton words">
                            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexA">Words</a>
                            <a class="navIcon" asp-area="" asp-controller="wordsUSA" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
                        </li>
                        <li class="nav-title">
                            <p>USA</p>
                            <p>TO</p>
                            <p>UK</p>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CrossThePondUKToUSWords - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

