@{
    ViewData["Title"] = "Home Page";
}

<style>


    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }
    .swapper img {
        max-height: 140px;
        padding-left: 200px;
        
    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-bottom: 50px;
    }

    @*END heading SECTION*@

    @*START page SECTION*@

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .homeSection img {
        max-height: 600px;
        min-height: 600px;
    }
    .pondImg img {
        max-height: 100px;
        margin-top: 280px;
    }
    .right {
        text-align: center;
    }
    #sea {
        max-height: 300px;
    }
    #planeleft {
        float: right;
    }
    #planeright {
        float: left;
    }
    #pond {
        display: block;
    }
    h1 {
        text-align: center;
        padding-top: 50px;
    }
    h2 {
        text-align: center;
        text-decoration: underline;
    }

    @*END page SECTION*@

</style>

<h1>CROSS THE POND</h1>

<div class="heading">
    <h1>All you need to know for your transatlantic trip</h1>
</div>


<br />
<h2>choose your destination</h2>

<div class="grid-container">
    <div class="grid-item left">
        <div class="homeSection">
            <a class="choice-nav-icon" asp-area="" asp-controller="Welcome" asp-action="IndexUS"><img src="images/USofA.png" alt="UK to USA" /></a>            
        </div>


    </div>

    <div class="grid-item center pond">
        <div class="pondImg">
            <p></p><img class="pondImg" id="sea" src="images/sea.png" alt="UK to USA" />
        </div>
    </div>

    <div class="grid-item right">
        <div class="homeSection">
            <a class="choice-nav-icon" asp-area="" asp-controller="Welcome" asp-action="IndexUK"><img src="images/brit_tin.png" alt="USA to UK" /></a>
        </div>
    </div>
</div>


</main>



