@{
    ViewData["Title"] = "Home Page";
}

<style>


    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }
    .swapper img {
        max-height: 140px;
        padding-left: 200px;
        
    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-bottom: 50px;
    }

    @*END heading SECTION*@

    @*START page SECTION*@

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .homeSection img {
        max-height: 600px;
        min-height: 600px;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .pondImg img {
        max-height: 100px;
        margin-top: 280px;
    }
    .right {
        text-align: center;
    }
    #sea {
        max-height: 300px;
    }
    #planeleft {
        float: right;
    }
    #planeright {
        float: left;
    }
    #pond {
        display: block;
    }
    h1 {
        text-align: center;
        padding-top: 50px;
    }
    h2 {
        text-align: center;
        text-decoration: underline;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .grid-item:hover .image {
        opacity: 0.3;
    }
    .grid-item:hover .middle {
        opacity: 1;
    }
    .text {
        color: black;
        font-size: 35px;
        padding: 16px 32px;
    }

    @*END page SECTION*@

</style>

<h1>CROSS THE POND</h1>

<div class="heading">
    <h1>All you need to know for your transatlantic trip</h1>
</div>


<br />
<h2>click on a flag to choose your destination</h2>

<div class="grid-container">
    <div class="grid-item left">
        <div class="homeSection">
            <a class="choice-nav-icon" asp-area="" asp-controller="Welcome" asp-action="IndexUS">
                <img src="images/howdy.png" alt="UK to USA" />
                <div class="middle">
                    <div class="text">UK TO USA</div>
                </div>
            </a>
        </div>


    </div>

    <div class="grid-item center pond">
        <div class="pondImg">
            <p></p><img class="pondImg" id="sea" src="images/sea.png" alt="UK to USA" />
        </div>
    </div>

    <div class="grid-item right">
        <div class="homeSection">
            <a class="choice-nav-icon" asp-area="" asp-controller="Welcome" asp-action="IndexUK">
                <img src="images/brit_tin.png" alt="USA to UK" />
                <div class="middle">
                    <div class="text">USA TO UK</div>
                </div>
            </a>
            
        </div>
    </div>
</div>