@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Hey y'all / Good day</h1>
    <br />

    <h2>how you doing? / alright mate?</h2>


</div>


