@{
    ViewData["Title"] = "Privacy Policy";
}
<brr></brr>
<h1>Privacy Policy</h1>

<br />
<br />

<p>
    This is the Privacy Policy of the Cross The Pond website
    and all content, services and products, including mobile applications,
    that we provide (collectively, the “Application”).
    This website does not purposefully collect any information.
    
</p>

<h1>Info</h1>

<br />
<br />
<p>
    This website is for demonstration purposes only.
</p>
<p>
    Credit to Flaticon.com for the icons.
</p>
<br />
<br />

<h1>About The Author</h1>
<br />
<p>The Application is owned and operated by Danny Pellatt.</p>
<p>For more information about the Author, please visit:</p>
<p><a href="#">Portfolio website</a></p>
<p><a href="https://github.com/dannypellatt">Github</a></p>
<p><a href="https://www.linkedin.com/in/dannypellatt/">LinkedIn</a></p>
<p><a href="#">Resume</a></p>