@model CrossThePondUKToUSWords.Models.WelcomeModel

<style>

    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }

    .nav-list {
        display: inline-flex;
        text-align: center;
    }

    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }
    .swapper img {
        max-height: 140px;
        padding-left: 200px;

    }
    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .heading h1 {
        font-size: 80px;
    }

    @*END heading SECTION*@

    @*START page SECTION*@
    .welcome-main {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .main-page-option {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    .main-page-options img {
        max-width: 180px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .welcome-main-left {
        padding-right: 50px;
    }
        .welcome-main-left img {
            max-width: 550px;
        }

    @*END page SECTION*@

</style>

<style>

    @*START top-bar SECTION*@
    .top-bar {
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 130px;
        text-align: center;
    }
    .swapper img {
        max-height: 130px;

    }
    .swapper {
        font-size: 60px;
        
    }

    .hover-img {
        background-color: #fff;
        color: #000;
        display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
    }

        .hover-img * {
            box-sizing: border-box;
            transition: all 0.45s ease;
        }

        .hover-img:before,
        .hover-img:after {
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            transition: all 0.3s ease;
            z-index: 1;
            opacity: 0;
            transform: scaleY(2);
        }

        .hover-img img {
            vertical-align: top;
            max-width: 100%;
            backface-visibility: hidden;
        }

        .hover-img figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.1em;
            opacity: 0;
            z-index: 2;
            transition-delay: 0.1s;
            font-size: 24px;
            font-family: sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
        }

        .hover-img:hover:before,
        .hover-img:hover:after {
            transform: scale(1);
            opacity: 1;
        }

        .hover-img:hover > img {
            opacity: 0.7;
        }

        .hover-img:hover figcaption {
            opacity: 1;
        }
        .nav-swapper {
        position: relative;
        display: inline-block;

    }

        .nav-swapper .img-swapper {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }

        .nav-swapper:hover .img-swapper {
            display: inline;
        }
        @*END top-bar SECTION*@
        @*START heading SECTION*@

    .heading h1 {
        font-size: 100px;
        text-align: center;
        padding-right: 100px;
    }

    @*END heading SECTION*@

    @*START main SECTION*@
    .temp-main {
        display: inline-flex;
        text-align: center;
    }
    .temp-main-element {
        border: solid 1px #BEBEBE;
        padding: 20px;
        margin-bottom: 30px;
    }
    .temp-main-left {
        text-align: left;
        min-width: 500px;
    }
    .temp-main-left h1 {
        text-align: center;
    }
    .temp-main-right {
        min-width: 35%;
        padding: 20px;
        margin-left: 30px;
    }
    .temp-main-element h3 {
        text-align: left;
    }
    .temp-main-heading {
        margin-bottom: 30px;
    }
    .notes {
        font-style: italic;
    }
    p {
        font-size: larger;
    }
    .temp-main-heading, .calculator {
        border: solid 2px #BEBEBE;
    }
    .temp-main-element img {
        max-width: 400px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 44px;
    }

    .regions {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    .now-facts {
        margin-left: 100px;
    }

    @*END main SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list heading">
            <h1>UK TO USA</h1>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="Welcome" asp-action="IndexUK">
                <img src="/Images/SwapperUKtoUS2.png" />
                <img src="/Images/USAtoUK-swap-hover.png" class="img-swapper" />
            </a>
        </li>
    </ul>
</section>



<div class="welcome-main">
    <div class="welcome-main-left">
        <h2>Welcome to United States of America!</h2>
        <p>Home of National Parks and NASA, hot dogs and Hollywood, bbq and baseball!</p>
        <div>
            <img src="/Images/howdy.png" alt="UK to USA" />
        </div>
    </div>
    <div class="welcome-main-right">
        <div class="main-page-options">
            <p>pick an option:</p>
            <br />
            <div class="main-page-option words">
                <div>
                    <a class="nav-icon" asp-area="" asp-controller="wordsUK" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
                </div>
                <div>
                    <h3>Words: </h3>
                    <br />
                    <p>We share a common language... for the most part. Here's a list of words that may be a little confusing</p>
                </div>
            </div>
            <div class="main-page-option words">
                <div>
                    <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCityUS"><img src="/Images/CtPweatherIcon.png" /></a>
                </div>
                <div>
                    <h3>Weather: </h3>
                    <br />
                    <p>It's a big country. What to wear, where.</p>
                </div>
            </div>
            <div class="main-page-option words">
                <div>
                    <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="IndexUS"><img src="/Images/CtPtemperatureIcon.png" /></a>
                </div>
                <div>
                    <h3>Temperature: </h3>
                    <br />
                    <p>Celcius... Fahrenheit... Do I need to pack a jumper or what?</p>
                </div>
            </div>
            <div class="main-page-option words">
                <div>
                    <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/CtPtipsIcon.png" /></a>
                </div>
                <div>
                    <h3>Tipping: </h3>
                    <br />
                    <p>You have to do maths!? Not any more.</p>
                </div>
            </div>
        </div>
    </div>

</div>