@model CrossThePondUKToUSWords.Models.TempModel

<style>

    @*START top-bar SECTION*@
    .top-bar {
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }
    .swapper img {
        max-height: 140px;
        padding-left: 200px;
    }
    @*END top-bar SECTION*@

    @*START heading SECTION*@
    .heading {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

        .heading h1 {
            font-size: 80px;
        }
    @*END heading SECTION*@

    @*START main SECTION*@
    .temp-main {
        display: inline-flex;
        text-align: center;
    }
    .temp-main-element {
        border: solid 1px #BEBEBE;
        padding: 20px;
    }
    .temp-main-left {
    }
    .temp-main-right {
        min-width: 35%;
        padding: 20px;
        margin-left: 30px;
    }
    .temp-main-element h3 {
        text-align: left;
    }
    .temp-main-heading {
        margin-bottom: 30px;
    }
    .notes {
        font-style: italic;
    }
    p {
        font-size: larger;
    }

    .temp-main-element img {
        max-width: 300px;
    }

    .climate-facts {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    @*END main SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words">
            <a class="nav-icon" asp-area="" asp-controller="wordsUK" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
        </li>
        <li class="nav-link weather">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCityUS"><img src="/Images/CtPweatherIcon.png" /></a>
        </li>
        <li class="nav-element nav-link temperature">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="IndexUS"><img src="/Images/CtPtemperatureIcon.png" /></a>
        </li>
        <li class="nav-element nav-link tipping">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/CtPtipsIcon.png" /></a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="Temp" asp-action="Index"><img src="/Images/SwapperUKtoUS2.png" /></a>
        </li>
    </ul>
</section>

<div class="heading">
    <h1>UK TO USA</h1>
</div>

<section class="temp-main">
    <div class="temp-main-left">
        <div class="temp-main-element temp-main-heading">
            <h2>
                Temperature
            </h2>
            <br />
        </div>
        <div class="temp-main-element">
            <h3>Explained:</h3>
            <br />
            <p>
                Being a huge country, the contiguous United States is home to a wide variety of climates.
                Overall, the United States of America is temperate, with notable exceptions.
                Alaska has an Arctic tundra climate, while Hawaii and South Florida have a tropical climate.
                The Great Plains are dry, flat and grassy, turning into arid desert in the far West.
            </p>
            <p>
                In general it has a continental climate, with cold winters (often frigid)
                and hot summers (sometimes very hot), with a different season duration depending on latitude and distance from the sea.
                In terms of precipitation there are very large differences throughout the country.
                The northwest is wet, the southeast fairly wet and the central part of America is dry.
            <p />
            <p>The general pattern of the climate across the US has five distinct regions:
            </p>
            <div class="climate-facts">
                <img src="/Images/USClimate.jpeg" />
                <ul>

                    <li>west - marine - generally featuring cool summers and mild winters</li>
                    <li>south-west – hot-dry - hot, arid conditions with intense sunshine</li>
                    <li>north – cold - often have a significant annual variation in temperature </li>
                    <li>east – mixed-humid - rainy, humid with variations in temperature</li>
                    <li>south-east – hot-humid - rainy, humid and generally hot</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="temp-main-element temp-main-right">
        <h3>Calculator:</h3>
        <br />
        <form class="" asp-action="IndexUS">
            <p>Type in temp you want to convert</p>
            <p><input type="number" asp-for="valueTemp" /></p>

            <p><input type="submit" value="Fahrenheit to Celcius" asp-for="calculate" /></p>
            <p><input type="submit" value="Celcius to Fahrenheit" asp-for="calculate" /></p>

            <label>Result:</label>
            <p><input type="number" asp-for="@ViewData["result"]" /></p>

        </form>
    </div>

</section>
